@media (prefers-color-scheme: light) {
  :root {
    --bg: #ffffff;
    --accent: #0062fa;
    --accent-hover: #0053cb;
    --btn-bg: #e5e5e5;
    --btn-bg-hover: #cececf;
    --accent-text: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1c1b22;
    --accent: #00cadb;
    --accent-hover: #61dce9;
    --btn-bg: #484854;
    --btn-bg-hover: #5c5c6a;
    --accent-text: #000000;
  }
}

:root {
  --hover-transition-duration: 0.1s;

  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-offset: 0;
}

body {
  background-color: var(--bg);
  padding: 12px;
  font-family: sans-serif;
}

.popup-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-size: 14px;
}

input[type='number'] {
  width: 8ch;
  padding: 2px 4px;
  padding-right: 0;
  font-size: 14px;
  outline: none;
}

input[type='number']:focus-visible {
  outline: auto;
}

#clear-button {
  margin: 4px 0;
  padding: 6px;
  background-color: var(--accent);
  border: none;
  border-radius: 4px;
  color: var(--accent-text);
  font-size: 14px;
  transition: background-color var(--hover-transition-duration);
  cursor: pointer;
}

#clear-button:hover {
  background-color: var(--accent-hover);
}

[data-visible='false'] {
  display: none;
}

/* [data-visible='true'] {
  max-height: 500px;
  opacity: 1;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
}

[data-visible='false'] {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
} */

hr {
  border: none;
  border-top: 1px solid var(--btn-bg);
}

.switch-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.switch {
  --switch-width: 36px;
  --switch-height: 18px;
  --switch-padding: 2px;
  --switch-transition-duration: 0.3s;

  display: inline-block;
  position: relative;
  width: var(--switch-width);
  height: var(--switch-height);
}

.switch input {
  /* Opacity, width and height used for accessibility */
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--btn-bg);
  border-radius: var(--switch-height);
  transition: background-color var(--hover-transition-duration);
  cursor: pointer;
}

.slider:hover {
  background-color: var(--btn-bg-hover);
}

.slider::before {
  content: '';
  position: absolute;
  left: var(--switch-padding);
  bottom: var(--switch-padding);
  height: calc(var(--switch-height) - 2 * var(--switch-padding));
  width: calc(var(--switch-height) - 2 * var(--switch-padding));
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transition: var(--switch-transition-duration);
}

input:checked + .slider {
  background-color: var(--accent);
}

input:checked + .slider:hover {
  background-color: var(--accent-hover);
}

input:checked + .slider::before {
  transform: translateX(calc(var(--switch-width) - var(--switch-height)));
}

input:focus-visible + .slider {
  outline: auto;
}
