@media (prefers-color-scheme: light) {
  :root {
    --bg: #ffffff;
    --accent: #0062fa;
    --accent-hover: #0053cb;
    --text: #ffffff;
    --btn-bg: #e5e5e5;
    --btn-bg-hover: #cececf;
    --input-bg: #ffffff;
    --border: #e5e5e5;
    --error-alert-bg: #ffe8ea;
    --error-alert-border: #b20037;
    --error-alert-text: #b20037;
    --success-alert-bg: #e6ffea;
    --success-alert-border: #00b23c;
    --success-alert-text: #00b23c;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1c1b22;
    --accent: #00cadb;
    --accent-hover: #61dce9;
    --text: #000000;
    --btn-bg: #484854;
    --btn-bg-hover: #5c5c6a;
    --input-bg: #2b2a33;
    --border: #484854;
    --error-alert-bg: #6e001f;
    --error-alert-border: #ffa0aa;
    --error-alert-text: #ffa0aa;
    --success-alert-bg: #004d1a;
    --success-alert-border: #70ff8c;
    --success-alert-text: #70ff8c;
  }
}

:root {
  --hover-transition-duration: 0.1s;

  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-offset: 0;
}

*[data-visible='false'] {
  display: none !important;
}

body {
  width: 300px;
  background-color: var(--bg);
  padding: 12px;
  font-family: sans-serif;
  font-size: 14px;
}

body[data-show-transitions='false'] *,
body[data-show-transitions='false'] *:before,
body[data-show-transitions='false'] *:after {
  transition: none !important;
}

.clearing-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 100;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
}

.clearing-overlay__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.clearing-overlay__img {
  width: 48px;
  height: 48px;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.popup-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#days-input {
  padding: 6px;
  background-color: var(--input-bg);
  border: 1px solid var(--border);
  border-radius: 4px;
  outline: none;
}

#days-input:focus-visible {
  outline: auto;
}

#clear-button {
  padding: 6px;
  background-color: var(--accent);
  border: none;
  border-radius: 4px;
  color: var(--text);
  transition: background-color var(--hover-transition-duration);
  cursor: pointer;
}

#clear-button:hover {
  background-color: var(--accent-hover);
}

#clear-button:disabled {
  background-color: var(--btn-bg);
  color: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
}

.alert {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  font-size: 12px;
}

.error-alert {
  background-color: var(--error-alert-bg);
  border-color: var(--error-alert-border);
  color: var(--error-alert-text);
}

.success-alert {
  background-color: var(--success-alert-bg);
  border-color: var(--success-alert-border);
  color: var(--success-alert-text);
}

hr {
  border: none;
  border-top: 1px solid var(--border);
}

.switch-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.switch {
  --switch-width: 36px;
  --switch-height: 18px;
  --switch-padding: 2px;
  --switch-transition-duration: 0.2s;

  display: inline-block;
  flex: 0 0 auto;
  position: relative;
  width: var(--switch-width);
  height: var(--switch-height);
}

.switch input {
  /* Opacity, width and height used for accessibility */
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-label {
  flex: 1;
  cursor: pointer;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--btn-bg);
  border-radius: var(--switch-height);
  transition: background-color var(--hover-transition-duration) ease-in;
  cursor: pointer;
}

.slider:hover {
  background-color: var(--btn-bg-hover);
}

.slider::before {
  content: '';
  position: absolute;
  left: var(--switch-padding);
  bottom: var(--switch-padding);
  height: calc(var(--switch-height) - 2 * var(--switch-padding));
  width: calc(var(--switch-height) - 2 * var(--switch-padding));
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transition: transform var(--switch-transition-duration) ease-in;
}

input:checked + .slider {
  background-color: var(--accent);
}

input:checked + .slider:hover {
  background-color: var(--accent-hover);
}

input:checked + .slider::before {
  transform: translateX(calc(var(--switch-width) - var(--switch-height)));
}

input:focus-visible + .slider {
  outline: auto;
}
