@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 10px;
}

.popupContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type='number'] {
  width: 6ch;
}

[data-visible='false'] {
  display: none;
}
